<a href="https://colab.research.google.com/github/Sanjanamm/Assignments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What exactly is [ ]?

    The empty list represented by [] is a list that contains no items. This is similar to '' which represents an empty string


2.In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

    spam[2]='hello' (Lists follows zero based indexing)

In [ ]:
# Example
spam=[2,4,6,8,10]
print(spam)
spam[2]='hello' #List uses zero based indexing
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

In [ ]:
spam = [2,4,6,8,10]

spam[2] = 'hello'

spam

[2, 4, 'hello', 8, 10]


Let's pretend the spam includes the list ['a','b','c',d'] for the next three queries.
3. What is the value of spam[int(int('3'*2)//11)] ?

    'd' (Note that '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3, spam[3] is equal to d.)

In [1]:
print('3' * 2)

33

In [3]:
print(int('3'*2)//11)

3

In [ ]:
spam = ['a','b','c','d']
spam[int(int('3'*2)//11)]
spam

['a', 'b', 'c', 'd']

In [ ]:
spam=['a','b','c','d']
print("spam[int(int('3'*2)//11)] ->",spam[int(int('3'*2)//11)])

spam[int(int('3'*2)//11)] -> d

4. What is the value of spam[-1]?


    'd' (Lists support Negative indexing, Hence spam[-1] returs 'd')

In [ ]:
spam=['a','b','c','d']
print('spam[-1] -> ',spam[-1])

spam[-1] ->  d


5. What is the value of spam[:2]?

    spam[:2] returns all elements in the list spam from 0 to 2 excluding 2

In [ ]:
print(spam)
print(spam[:2])

['a', 'b', 'c', 'd']
['a', 'b']


Let's pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three question


6. What is the value of bacon.index('cat')?

    The value of bacon.index('cat') is 1 (Note: index method returns the index of first occuerence of 'cat')

In [5]:
bacon=[3.14,'cat',11,'cat',True]

In [7]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

    List concatenation uses + operator, whereas list replication uses * operator.

    List concatenation adds new values to the existing lists.

    List replication prints duplicate values present in the list

In [ ]:
list1 = [2,3,4,5]
list2 = [10,11,21,12,13]
print(list1 + list2)     #concatenation
print(list2 * 2)         #replication

[2, 3, 4, 5, 10, 11, 21, 12, 13]
[10, 11, 21, 12, 13, 10, 11, 21, 12, 13]

10. What is difference between the list methods append() and insert()?

    append() inserts the item into the last index, whereas insert() inserts the element at the specified index.

In [ ]:
list=[1,2,3,4,5]
list.append(6)
print(list)
list.insert(2,7)
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 7, 3, 4, 5, 6]

11. What are the two methods for removing items from a list?
     
     Method 1 - remove()
                Specify the item to be removed.

     Method 2 - del() 
                Can be used to delete an item at the given index.

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
list.remove(2)
print(list)
del list[0:2]
print(list)
del list[:]
print(list)

[1, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[]

12. Describe how list values and string values are identical.

    List and strings are both sequential collection of data.

    The length of the data can be fetched by len() method in both list and strings.

    Both have indexing and slicing operations.

    for loops can be used both in list and strings.

    Both data types can perform concatenation, replication operations.

    Both data types have in and not in, which is used to check if the element is present or not

13. What is the difference between tuples and lists?

    Lists are Mutable, Indexable and Slicable. they can have values added, removed, or changed. Tuples are Immutable but Indexable and Slicable. the tuple values cannot be changed at all. Also, tuples are represented using parentheses, (), while lists use the square brackets, [].


    On Lists we can perform operations like Indexing,Slicing, they can have values added, removed or changed.

    Lists are Mutable.

    Lists are represented using [ ].

    Tuples are Immutable but indexing and slicing can be performed. Tuple values cannot be changed at all. 

    Tuples are represented using ().

14. How do you type a tuple value that only contains the integer 42?

    When tuple contains a single item, Trailing comma is mandatory otherwise it is considered as integer value by python interpretor.

In [ ]:
t = (42,)
t
type(t)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

    The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

    Variables will contain references to list values rather than list values themselves. But for strings and integer values, variables simply contain the string or integer value.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

    The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.

In [ ]:
import copy
  
# initializing list 1 
li1 = [1, 2, [3,5], 4]
  
  
# using copy for shallow copy  
li2 = copy.copy(li1) 
print(li2)
  
# using deepcopy for deepcopy  
li3 = copy.deepcopy(li1) 
print(li3)

[1, 2, [3, 5], 4]
[1, 2, [3, 5], 4]

In [ ]:
# importing "copy" for copy operations
import copy
  
# initializing list 1
li1 = [1, 2, [3,5], 4]
  
# using deepcopy to deep copy 
li2 = copy.deepcopy(li1)
  
# original elements of list
print ("The original elements before deep copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")
  
print("\r")
  
# adding and element to new list
li2[2][0] = 7
  
# Change is reflected in l2 
print ("The new list of elements after deep copying ")
for i in range(0,len( li1)):
    print (li2[i],end=" ")
  
print("\r")

# Change is NOT reflected in original list
# as it is a deep copy
print ("The original elements after deep copying")
for i in range(0,len( li1)):
    print (li1[i],end=" ")

The original elements before deep copying
1 2 [3, 5] 4
The new list of elements after deep copying
1 2 [7, 5] 4
The original elements after deep copying
1 2 [3, 5] 4

In [ ]:
# Python code to demonstrate copy operations
  
# importing "copy" for copy operations
import copy
  
# initializing list 1
li1 = [1, 2, [3,5], 4]
  
# using copy to shallow copy 
li2 = copy.copy(li1)
  
# original elements of list
print ("The original elements before shallow copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")
  
print("\r")
  
# adding and element to new list
li2[2][0] = 7
  
# checking if change is reflected
print ("The original elements after shallow copying")
for i in range(0,len( li1)):
  print (li1[i],end=" ")

The original elements before shallow copying
1 2 [3, 5] 4
The original elements after shallow copying
1 2 [7, 5] 4